@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

html,body {
  margin: 0;
  padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    min-height: 100vh;
    box-sizing: border-box;
    background: var(--bg-color);
    font-family: 'Sofia Sans', sans-serif;
}

button {
  background: var(--dark-tile);
  color: var(--light-tile);
  border: 0 none;
  padding: 10px 30px;
  margin: 10px 0;
  font-size: 1.1em;
}

.takeback-container {
    margin: 16px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 430px) { /* iPhone XR */
    .App {
        padding: 8px;
    }
    .takeback-container {
        margin: 8px 0;
    }
    .Board {
        width: 95vw;
        max-width: 350px;
    }
    .Control {
        width: 95vw;
        max-width: 350px;
    }
}

@media (min-width: 768px) and (max-width: 834px) { /* iPad Air */
    .Board, .Control {
        width: 80vw;
        max-width: 600px;
    }
}

@media (min-width: 1200px) { /* 14-inch laptop */
    .Board, .Control {
        width: 600px;
        max-width: 100%;
    }
}